/* Error: expected ")".
 *    ,
 * 24 |             color: rgba(255, 255, 255, 1;
 *    |                                         ^
 *    '
 *   src\assets\scss\_start-screen.scss 24:41  @use
 *   src\assets\scss\style.scss 6:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ")".\a    \2577 \a 24 \2502              color: rgba(255, 255, 255, 1;\d\a    \2502                                          ^\a    \2575 \a   src\\assets\\scss\\_start-screen.scss 24:41  @use\a   src\\assets\\scss\\style.scss 6:1            root stylesheet';
}
